<p id="notice"><%= notice %></p>

<p>
  <strong>Property document:</strong>
  <%= @owner.property_document %>
</p>

<p>
  <strong>Licence:</strong>
  <%= @owner.licence %>
</p>

<p>
  <strong>User:</strong>
  <%= @owner.user %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
